In [1]:
import pandas as pd
from collections import defaultdict
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords

In [2]:
data = pd.read_csv("hasil_perbaikan_preprocessing.csv")
data.head()

   term                                            doc_num
0    -1  ['0004', '0008', '0016', '0026', '0059', '0073...
1   -10                                           ['0305']
2  -100                                           ['0427']
3   -11                                           ['0116']
4  -110                                           ['0427']

In [3]:
list_doc_num = data["doc_num"]
a = list_doc_num[1]
print(a)
b = a.replace("'", "").replace("[","").replace("]","").replace(" ","")
print(b)
c = b.split(",")
print(c)

['0305']
0305
['0305']

In [4]:
def df_to_dict(data_frame):
#     list_doc_num = []
    dict_hasil = {}
    doc_num = data_frame["doc_num"]
    term = data_frame["term"]
    for i in range(len(doc_num)):
        deleted_simbol = doc_num[i].replace(" ","").replace("'", "").replace("[","").replace("]","")
        num_doc = deleted_simbol.split(",")
        
        dict_hasil[term[i]] = num_doc
#         list_doc_num.append(num_doc)
    
    
    return dict_hasil

In [5]:
def df_to_dict2(data_frame):
    list_doc_num = []
    dict_hasil = {}
    doc_num = data_frame["doc_num"]
    for i in doc_num:
        deleted_simbol = i.replace(" ","").replace("'", "").replace("[","").replace("]","")
        num_doc = deleted_simbol.split(",")
        
#         dict_hasil[term[i]] = num_doc
        list_doc_num.append(num_doc)
    dict_hasil = {"term": data_frame["term"], "doc_num":list_doc_num }
    
    return dict_hasil

## Preprocessing

In [6]:
# ini adalah csv yang nomor dokumen nya yang double
df = pd.read_csv("hasil_preprocessing.csv")
df = pd.DataFrame(df_to_dict2(df))
df

            term                                            doc_num
0             -1  [0004, 0008, 0016, 0026, 0059, 0059, 0059, 005...
1            -10                                             [0305]
2           -100                                             [0427]
3            -11                                             [0116]
4           -110                                             [0427]
...          ...                                                ...
7014     zimbabw                                       [0288, 0288]
7015  zimbabwean                                             [0288]
7016         zip                                             [0265]
7017        zoet                                             [0399]
7018        zone                                       [0001, 0422]

[7019 rows x 2 columns]

In [7]:
dict_term = df_to_dict2(data)
df_term_doc_num = data

In [8]:
df_token_doc_num = df
df_token_doc_num.iloc[1000:1050]

             term                                            doc_num
1000         1977                                       [0422, 0428]
1001         1978                                       [0029, 0231]
1002         1979                                       [0318, 0318]
1003          198                                             [0058]
1004      198,919                                             [0309]
1005         1980                                       [0231, 0288]
1006         1981                           [0005, 0005, 0340, 0463]
1007         1982                                             [0132]
1008         1983         [0045, 0124, 0243, 0305, 0357, 0395, 0430]
1009         1984  [0005, 0047, 0123, 0173, 0262, 0281, 0318, 042...
1010         1985  [0006, 0011, 0015, 0027, 0040, 0040, 0047, 007...
1011         1986  [0001, 0005, 0006, 0006, 0006, 0012, 0013, 001...
1012         1987  [0001, 0008, 0009, 0024, 0024, 0026, 0040, 004...
1013         1988  [0018, 0018, 0023, 0026, 0028, 0105, 0142, 015...
1014         1989  [0026, 0070, 0105, 0143, 0210, 0210, 0319, 034...
1015      199,000                                             [0250]
1016         1990                     [0051, 0376, 0436, 0436, 0436]
1017         1991  [0031, 0061, 0070, 0105, 0190, 0301, 0422, 042...
1018         1992         [0143, 0196, 0222, 0222, 0298, 0418, 0499]
1019         1993                                             [0422]
1020         1994                                             [0210]
1021         1995                     [0142, 0183, 0229, 0229, 0265]
1022         1996                                 [0083, 0142, 0241]
1023         1997                           [0035, 0196, 0352, 0472]
1024         1998                           [0196, 0289, 0307, 0359]
1025         1999                                       [0083, 0103]
1026  19:02:33.14                                             [0251]
1027  19:04:31.39                                             [0252]
1028  19:04:38.26                                             [0253]
1029  19:05:21.41                                             [0254]
1030  19:06:36.56                                             [0255]
1031  19:09:27.77                                             [0256]
1032  19:10:26.95                                             [0257]
1033  19:11:19.94                                             [0258]
1034  19:15:32.68                                             [0259]
1035  19:18:49.58                                             [0260]
1036  19:23:42.46                                             [0311]
1037  19:26:43.72                                             [0312]
1038            2  [0004, 0013, 0016, 0049, 0049, 0059, 0059, 005...
1039        2,000                                       [0152, 0211]
1040        2,018                                             [0212]
1041    2,024,116                                             [0213]
1042   2,048,0000                                             [0167]
1043        2,064                                             [0487]
1044    2,075,000                                             [0417]
1045        2,083                                             [0200]
1046        2,095                                             [0439]
1047        2,100                                             [0137]
1048    2,129,300                                             [0033]
1049        2,137                                             [0305]

In [9]:
# membuat dictionary yang berisikan data doc number terhadap token
dict_doc_token = defaultdict(list)
for i in range(len(df)):
    for j in df.iloc[i,1]:
#         if j not in dict_hasil.keys:
#         if j not in dict_doc_token.keys():
        dict_doc_token[j].append(df.iloc[i,0])

In [10]:
# tulist data dict ke excel
list_token = []
list_doc_num1 = []
dict_doc_token.keys
for i in dict_doc_token.keys():
    list_doc_num1.append(i)
    list_token.append(dict_doc_token[i])
    
dict_temp = {"doc_num": list_doc_num1, "token": list_token}
df_doc_num_token = pd.DataFrame(dict_temp)
df_doc_num_token

    doc_num                                              token
0      0004  [-1, -20, 1, 11, 12, 15, 15:07:13.72, 2, 2.70,...
1      0008  [-1, -3, 15:15:40.12, 1987, 26-feb-1987, ad, a...
2      0016  [-1, -20, 1, 11, 12, 15, 15:21:16.13, 2, 2.70,...
3      0026  [-1, 1, 10.6, 15:36:44.78, 1987, 1988, 1989, 2...
4      0059  [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 100, ...
..      ...                                                ...
495    0420  [17:51:17.75, 1988, 26-feb-1987, 30, 54, 63, a...
496    0493  [17:57:05.23, 1987, 1987, 1987, 1988, 1989, 26...
497    0498  [18, 18:07:18.31, 2.15, 26-feb-1987, 500, 53, ...
498    0495  [18:00:08.86, 26-feb-1987, address, advic, adv...
499    0497  [18:04:52.91, 26-feb-1987, activ, administr, a...

[500 rows x 2 columns]

In [11]:
df_doc_num_token = df_doc_num_token.sort_values(by=["doc_num"], ignore_index=True)
df_doc_num_token.head()

  doc_num                                              token
0    0001  [0.39, 1,750, 1,780, 1,850, 1,870, 1,875, 1,88...
1    0002  [15:02:20.00, 26-feb-1987, 55, activ, also, am...
2    0003  [13.5, 15:03:27.51, 26-feb-1987, 31, 7.5, appl...
3    0004  [-1, -20, 1, 11, 12, 15, 15:07:13.72, 2, 2.70,...
4    0005  [-1986, 0.99, 1, 1.24, 1.35, 1.56, 1.65, 1.92,...

In [12]:
jml_token = 0
for i in range(len(df_doc_num_token)):
    jml_token += len(df_doc_num_token["token"].iloc[i])
jml_token

48245

## Preprocessing query

In [13]:
def make_token(txt):
    list_hasil = txt.split(" ")            
    return list_hasil

In [14]:
def removeNull(listOfWords): #['','','eat','food','','']
    listOfWords = list(filter(None, listOfWords))
    
    return listOfWords

In [15]:
def caseFolding(listOfWords):
    for i in range(len(listOfWords)):
        listOfWords[i] = listOfWords[i].casefold()
        
    return listOfWords

In [16]:
stop_words = stopwords.words('english')

In [17]:
def removeStopWord(listOfWords):
    for i in listOfWords:
        if i in stop_words:
            listOfWords.remove(i)
        
    return listOfWords

In [18]:
def stemming(listOfWords):
    stemmer = SnowballStemmer("english")
    stemmed = [stemmer.stem(word) for word in listOfWords]
    
    return stemmed

In [19]:
df_doc_num_token

    doc_num                                              token
0      0001  [0.39, 1,750, 1,780, 1,850, 1,870, 1,875, 1,88...
1      0002  [15:02:20.00, 26-feb-1987, 55, activ, also, am...
2      0003  [13.5, 15:03:27.51, 26-feb-1987, 31, 7.5, appl...
3      0004  [-1, -20, 1, 11, 12, 15, 15:07:13.72, 2, 2.70,...
4      0005  [-1986, 0.99, 1, 1.24, 1.35, 1.56, 1.65, 1.92,...
..      ...                                                ...
495    0496  [0.75, 1.25, 1.69, 1.71, 1.75, 18:02:58.44, 19...
496    0497  [18:04:52.91, 26-feb-1987, activ, administr, a...
497    0498  [18, 18:07:18.31, 2.15, 26-feb-1987, 500, 53, ...
498    0499  [101, 101, 18:09:37.31, 1992, 26-feb-1987, aim...
499    0500  [1,177,786, 1,699,124, 12, 126.7, 130.2, 18:11...

[500 rows x 2 columns]

In [20]:
temp = df_token_doc_num[df_token_doc_num["term"] == "discount"]
print(len(temp["doc_num"].iloc[0]))

12

### main preprocessing query

In [21]:
list_rank = []
list_doc_num = []

def hitung_score(list_word,a):
    df_hasil = []
    for i in range(len(df_doc_num_token)):
        rank = 1
        doc = df_doc_num_token.iloc[i]
        for j in list_word:
            count = doc["token"].count(j)
            panjang_doc = len(doc["token"])
            p_doc =  (count/panjang_doc) * a
#           ----------------------------------
            temp = df_token_doc_num[df_token_doc_num["term"] == j]
#             print(i, temp)
            count_m = len(temp.iloc[0][1])
            p_m = (count_m/jml_token) * (1-a)
            p = p_doc + p_m
            rank *= p
        list_rank.append(rank)
        list_doc_num.append(doc["doc_num"])
    dict_hasil = {"doc_num": list_doc_num, "rank": list_rank}
    df_hasil = pd.DataFrame(dict_hasil)
    return df_hasil

In [22]:
q = "1991"

In [23]:
listOfWords = make_token(q)
listOfWords = removeNull(listOfWords)
listOfWords = caseFolding(listOfWords)
listOfWords = removeStopWord(listOfWords)
listOfWords = stemming(listOfWords)

In [24]:
listOfWords

['1991']

In [25]:
df_hasil = []
df_hasil = hitung_score(listOfWords,0.1)
df_hasil.shape

(500, 2)

In [26]:
df_hasil = df_hasil.sort_values(by=["rank"], ignore_index=True, ascending=False)
df_hasil.shape

(500, 2)

In [28]:
jawaban = [31, 61, 70, 105, 190, 301, 422, 466]

teratas = df_hasil.head(len(jawaban)).sort_values(by=["doc_num"], ignore_index=True, ascending=True)

hasil_query = teratas["doc_num"]
salah = []

for i in hasil_query:
    if int(i) not in jawaban:
        salah.append(i)
        
len(salah)

0