In [29]:
import pandas as pd
from collections import defaultdict

In [30]:
data = pd.read_csv("hasil_perbaikan_preprocessing.csv")
data.head()

          term   doc_num
0  00:06:25.87  ['0376']
1  00:37:11.96  ['0377']
2  00:55:57.87  ['0378']
3  01:01:34.13  ['0379']
4  01:45:37.55  ['0380']

In [31]:
list_doc_num = data["doc_num"]
a = list_doc_num[1]
print(a)
b = a.replace("'", "").replace("[","").replace("]","").replace(" ","")
print(b)
c = b.split(",")
print(c)

['0377']
0377
['0377']

In [32]:
def df_to_dict(data_frame):
#     list_doc_num = []
    dict_hasil = {}
    doc_num = data_frame["doc_num"]
    term = data_frame["term"]
    for i in range(len(doc_num)):
        deleted_simbol = doc_num[i].replace("'", "").replace("[","").replace("]","")
        num_doc = deleted_simbol.split(",")
        
        dict_hasil[term[i]] = num_doc
#         list_doc_num.append(num_doc)
    
    
    return dict_hasil

In [33]:
def df_to_dict2(data_frame):
    list_doc_num = []
    dict_hasil = {}
    doc_num = data_frame["doc_num"]
    for i in doc_num:
        deleted_simbol = i.replace("'", "").replace("[","").replace("]","")
        num_doc = deleted_simbol.split(",")
        
#         dict_hasil[term[i]] = num_doc
        list_doc_num.append(num_doc)
    dict_hasil = {"term": data_frame["term"], "doc_num":list_doc_num }
    
    return dict_hasil

In [34]:
dict_term = df_to_dict2(data)

## Preprocessing

In [35]:
# ini adalah csv yang nomor dokumen nya yang double
df = pd.read_csv("hasil_preprocessing.csv")
df = pd.DataFrame(df_to_dict2(df))
df

             term        doc_num
0     00:06:25.87         [0376]
1     00:37:11.96         [0377]
2     00:55:57.87         [0378]
3     01:01:34.13         [0379]
4     01:45:37.55         [0380]
...           ...            ...
5385      zimbabw  [0288,  0288]
5386   zimbabwean         [0288]
5387          zip         [0265]
5388         zoet         [0399]
5389         zone  [0001,  0422]

[5390 rows x 2 columns]

In [36]:
# membuat dictionary yang berisikan data doc number terhadap token
# dict_doc_token = defaultdict(list)
for i in range(len(df)):
    for j in df.iloc[i,1]:
#         if j not in dict_hasil.keys:
#         if j not in dict_doc_token.keys():
        dict_doc_token[j].append(df.iloc[i,0])

In [37]:
# tulist data dict ke excel
list_token = []
list_doc_num1 = []
dict_doc_token.keys
for i in dict_doc_token.keys():
    list_doc_num1.append(i)
    list_token.append(dict_doc_token[i])

dict_temp = {"doc_num": list_doc_num1, "token": list_token}
df_token = pd.DataFrame(dict_temp)
df_token

    doc_num                                              token
0      0376  [00:06:25.87, 12-mar-1987, cheapest, contracto...
1      0377  [00:37:11.96, bankrupcti, subcontractor, 00:37...
2      0378  [00:55:57.87, bangladesh, chittagong, strand, ...
3      0379  [01:01:34.13, confeder, contenpl, contest, ded...
4      0380  [01:45:37.55, acceler, babi, kk, kogyo, nappi,...
..      ...                                                ...
995    0225  [corp, cts, cts, jan, loss, loss, mar, mln, ml...
996    0341  [corp, cts, cts, cts, cts, diversifi, mar, mln...
997    0159  [cts, cts, cts, cts, dec, inc, loss, loss, los...
998    0485  [cts, cts, cts, cts, inc, jan, mar, mln, mln, ...
999    0468  [depart, depart, dlrs, dlrs, end, februari, fe...

[1000 rows x 2 columns]

In [38]:
df_baru = df_token.sort_values(by=["doc_num"], ignore_index=True)
df_baru = df_baru.tail()

In [39]:
a = df_baru["doc_num"]
for i in a:
    print(i)

0496
0497
0498
0499
0500